@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #faf7fd;
  --base-color: #b07682;
  --rosa-claro: #fcd9d3;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Cuprum', sans-serif;
  background-color: var(--rosa-claro);
  padding: 1rem;
}

.hidden {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

.buttons a i {
  fill: var(--base-color);
  stroke: var(--base-color);
}

.box-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;

  font-family: 'Cuprum', sans-serif;
  opacity: 0.9;

  padding: 0 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--base-color);
  flex-direction: column;

  color: #fff;



  border: 2px solid #fff;
  margin: 1rem, 1rem, 0, 1rem;

  border-radius: 8px;
}

.image {
  margin-bottom: 15px;
  height: 300px;
  width: 100%;

}

.image img {


  border-radius: 6px;

  height: 100%;
  width: 100%;

  object-fit: cover;



}

.casal {
  margin-bottom: 2rem;

}

.casal p {
  text-align: center;
  font-family: 'Noto Sans Vai', sans-serif;
  font-size: 32px;
  color: #fff;
}


.convite,
.aviso {
  margin-bottom: 2rem;
}



.p {
  text-align: center;
  font-size: 22px;
}

.font {

  text-align: left;
  line-height: 27px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;


  gap: 16px;

  margin-bottom: 2rem;
}

.buttons a {
  border: 2px solid #fff;
  border-radius: 50%;


  background-color: var(--rosa-claro);
  color: var(--base-color);
  font-weight: 600;
  font-size: 16px;

  text-transform: uppercase;

  height: 70px;
  width: 70px;
  padding: 10px;

  cursor: pointer;


  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 30px;

}



.buttons a svg {
  fill: var(--base-color);
  stroke: var(--base-color);

}

.cardpergunta,
.cardgift {
  display: none;
  opacity: 0;
  visibility: 0;

  margin: 0;

  color: #fff;

  padding: 1rem;

  position: fixed;
  z-index: 9999;

  width: 90vw;
  height: 650px;
  background-color: var(--base-color);
  border: 2px solid #fff;
  border-radius: 8px;

  top: 20px;

  transition: all 0.3s ease-in-out;
}

.cardpergunta.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.cardgift.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.close {
  cursor: pointer;
}

.boxaudio {
  padding: 0 1rem;
}

audio {
  margin-bottom: 1rem;
  width: 290px;
}

.developer {
  margin-top: 2rem;

  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer p {
  text-align: center;
}

.developer a {

  font-family: sans-serif;
  color: #7c17b4;
}


/* animation */

.title {
  animation: fromLeft 0.5s ease backwards;
  animation-delay: 0.2s;

}

.casal {
  animation: fromLeft 0.5s ease backwards;
  animation-delay: 0.350s;
}

.convite {
  animation: fromLeft 0.5s ease backwards;
  animation-delay: 0.450s;
}

.aviso {
  animation: fromLeft 0.5s ease backwards;
  animation-delay: 0.550s;
}

.buttons {
  animation: fromLeft 0.5s ease backwards;
  animation-delay: 0.650s;
}

.boxaudio {
  animation: fromLeft 0.5s ease backwards;
  animation-delay: 0.750s;
}


@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes formTop {
  from {
    opacity: 0;
    transform: translateY(-50);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:350px) {
  .container {
    height: 100vh;
    width: 100vw;
  }

  .buttons a {
    height: 50px;
    width: 50px;
  }
}